body {
  background-color: #22323a;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-attachment: fixed;
  margin: 0;
  color: gainsboro;
  font-family: monospace;
}

h1 {
  font-size: 28px;
}

h2 {
  padding-left: 50px;
  font-size: 28px;
}

#header {
  height: 382px;
  display: flex;
  border-bottom: solid 1px gainsboro;
}

.headerDiv {
  flex-grow: 1;
  text-align: center;
  background-color: #073066cc;
}

#headshot {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 38px;
}

#blurb {
  margin: auto;
  position: relative;
  top: 35%;
}

#summary {
  background-color: #073066cc;
  border: solid 1px gainsboro;
  border-radius: 10px;
  padding: 20px 60px 20px 60px;
  margin: 0 50px 0 50px;
  font-size: 18px;
  font-family: monospace;
}

#portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
}

.project-container {
  border: solid 1px gainsboro;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #073066cc;
  width: min-content
}

.project-container:hover {
  transform: scale(1.1);
}

.project-container h4 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 16px;
}

.project-demo {
  object-fit: scale-down;
  width: 300px;
  margin: 2px 0 2px 11px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(99, 213, 241, 0.637);
}

.links {
  display: flex;
  justify-content: space-between;
  color: yellow;
  font-size: 18px;
}

.links a:visited {
  color: yellow;
}

.links a:hover {
  color: rgb(183, 112, 250);
}

.tech {
  background-color: rgb(52, 103, 128);
  display: inline;
  padding: 5px 12px 5px 12px;
  border-radius: 50px;
  border: 2px rgb(99, 213, 241) solid;
  font-size: 18px;
  margin-right: 18px;
  margin-bottom: 9px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 330px;
}

footer {
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  color: gainsboro;
}

footer a {
  border: 1px solid gainsboro;
}